<div class="container">
    <div class="row">
        <div class="col-1">
            <div class="breadcrumb">
                <a class="btn btn-success btn-sm" href="/admin/promotion/index" role="button">
                    <i class="fas fa-chevron-left"></i>
                    Trở lại
                </a>
            </div>
        </div>
        <div class="col-10">
            <center>
                <h2 style="color: rgb(0, 0, 0)"><i class="fab fa-hotjar"></i> Cập nhật thông tin khuyến mãi</h2>
            </center>
        </div>
        <div class="col-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <div id="items"></div>
        </div>
        <div class="col-6">
            <form method="POST" action="/admin/promotion/{{_id}}/update?_method=PUT">
                {{#promotion}}
                <div id="promotionId" data-id="{{_id}}"></div>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Tên khuyến mãi"
                        value="{{name}}" />
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="discount" name="discount" placeholder="% giảm giá"
                        value="{{discount}}" />
                </div>
                {{/promotion}}
                <div class="form-group">
                    Danh sách sản phẩm:
                    <div id="promotionItems"></div>
                </div>
                <div class="form-group">
                    <center>
                        <button style="width: 100%;" type="submit" class="btn btn-danger btn-lg">Cập nhật</button>
                    </center>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    const promotionItemsData = [];
    const itemsData = [];

    document.addEventListener('DOMContentLoaded', function () {
        const promotionForm = document.querySelector('form');

        promotionForm.addEventListener('submit', function (e) {
            e.preventDefault(); // Ngăn sự kiện submit mặc định của form

            const name = document.getElementById('name').value;
            const discount = document.getElementById('discount').value;
            const promotionId = document.getElementById('promotionId').getAttribute('data-id');

            const data = {
                name: name,
                discount: discount,
                promotionItems: promotionItemsData
            };

            // Gửi dữ liệu qua fetch
            fetch(`/admin/promotion/${promotionId}/update?_method=PUT`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    // Chuyển hướng về trang index sau khi cập nhật thành công
                    window.location.href = '/admin/promotion/index';
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Xử lý lỗi, ví dụ như hiển thị thông báo lỗi cho người dùng
                });
        });
    });
    document.addEventListener('DOMContentLoaded', async function () {
        let promotionId = document.getElementById('promotionId');
        let id = promotionId.getAttribute('data-id');

        try {
            const response = await fetch('/admin/promotion/api/' + id);
            const foods = await response.json();

            // Thêm (push) dữ liệu foods vào promotionItemsData
            Array.prototype.push.apply(promotionItemsData, foods);
        } catch (error) {
            console.error('Error:', error);
        }

        try {
            const response = await fetch('/admin/promotion/api/unpromotion');
            const foods = await response.json();

            // Thêm (push) dữ liệu foods vào promotionItemsData
            Array.prototype.push.apply(itemsData, foods);
        } catch (error) {
            console.error('Error:', error);
        }

        showPromotionItems();
        showItems();
    });
    function onClickSelect(id, name) {
        const item = {
            _id: id,
            name: name
        };

        promotionItemsData.push(item);

        // Tìm vị trí của phần tử trong itemsData
        const index = itemsData.findIndex(foodItem => foodItem._id === id);

        // Xóa phần tử khỏi itemsData nếu tìm thấy
        if (index !== -1) {
            itemsData.splice(index, 1);
        }
        showPromotionItems();
        showItems();
    }
    function onClickUnSelect(id, name) {
        const item = {
            _id: id,
            name: name
        };

        // Thêm lại vào itemsData
        itemsData.push(item);

        // Tìm vị trí của phần tử trong promotionItemsData
        const index = promotionItemsData.findIndex(promoItem => promoItem._id === id);

        // Xóa phần tử khỏi promotionItemsData nếu tìm thấy
        if (index !== -1) {
            promotionItemsData.splice(index, 1);
        }

        showPromotionItems();
        showItems();
    }
    function showPromotionItems() {
        const promotionItems = document.getElementById('promotionItems');
        promotionItems.innerHTML = '';

        for (let i = 0; i < promotionItemsData.length; i++) {
            const item = promotionItemsData[i];
            promotionItems.innerHTML += `
            <div class="row p-2">
                <div class="col-4">
                    <button onclick="onClickUnSelect('${item._id}', '${item.name}')" class="btn btn-danger" type="button">Bỏ chọn</button>
                </div>
                <div class="col-8">${item.name}</div>
            </div>`;
        }
    }
    function showItems() {
        const items = document.getElementById('items');
        items.innerHTML = '';

        for (let i = 0; i < itemsData.length; i++) {
            const item = itemsData[i];
            items.innerHTML += `
            <div class="row p-2">
                <div class="col-8">${item.name}</div>
                <div class="col-4">
                    <button onclick="onClickSelect('${item._id}', '${item.name}')" class="btn btn-success" type="button">Chọn</button>
                </div>
            </div>`;
        }
    }
</script>