<div class="content-wrapper">
    <div class="content-header">
        <center>
            <h2 style="color: rgb(0, 0, 0)"><i class="fas fa-utensils"></i> Quản lý loại sản phẩm</h2>
        </center>
        <div class="breadcrumb">
            <a class="btn btn-primary btn-sm" href="/admin/foodType/create" role="button">
                Thêm
                <span class="fas fa-plus-circle"></span>
            </a>
        </div>
    </div>
    <div class="content border-radius">
        <div class="row">
            <div class="col-md-12">
                <div class="box" id="view">
                    <div class="box-body">
                        <div class="row" style="padding:0px; margin:0px;">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <center>Stt</center>
                                            </th>
                                            <th scope="col">
                                                <center>Tên loại sản phẩm</center>
                                            </th>
                                            <th scope="col">
                                                <center>Chức năng</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#foodtype}}
                                        <tr>
                                            <th scope="row">
                                                <center>{{sum @index 1}}</center>
                                            </th>
                                            <td>{{nameType}}</td>
                                            <td>
                                                <center>
                                                    <a href="/admin/foodType/{{this._id}}/update"
                                                        class="btn btn-warning">Sửa</a>
                                                    <a href="" class="btn btn-danger" data-id="{{this._id}}"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#delete-food-modal">Xóa</a>
                                                </center>
                                            </td>
                                        </tr>
                                        {{/foodtype}}

                                    </tbody>
                                </table>

                                {{!-- //Delete --}}
                                <div class="modal fade" id="delete-food-modal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xóa loại sản phẩm này ?
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">Thao tác này không thể phục hồi !</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" id="btn-delete-food">Tôi
                                                    đồng ý</button>
                                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style="background-color: black;">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form name="delete-food-form" method="POST"></form>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var foodId;
                                        var deleteForm = document.forms['delete-food-form'];
                                        var btnDeleteFood = document.getElementById('btn-delete-food');

                                        $('#delete-food-modal').on('show.bs.modal', function (event) {
                                            var button = $(event.relatedTarget);
                                            foodId = button.data('id');
                                        });

                                        btnDeleteFood.onclick = function () {
                                            deleteForm.action = '/admin/foodtype/' + foodId + '?_method=DELETE';
                                            deleteForm.submit();
                                        }                                       

                                        // Example URL 
                                        const str1 = window.location.href;

                                        // Parse the URL 
                                        const parsedUrl = new URL(str1);

                                        // Get the value of a specific parameter from the query string 
                                        const paramName = 'delete';
                                        const result =
                                            parsedUrl.searchParams.get(paramName);
                                        if (result == 'false') {
                                            alert('Không được xóa vì chứa sản phẩm')
                                        } 
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>