<div class="container page-h">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <center>
                <h1>ĐĂNG NHẬP <i class="fas fa-sign-in-alt"></i></h1>
            </center>
            <div class="alert alert-danger login fade" role="alert"></div>
            <form action="/admin/login" method="POST" name="formLogin">
                <div class="mb-3 row">
                    <div class="col-sm-1"></div>
                    <label for="numberPhone" class="col-sm-3 col-form-label">
                        <Center>Tên đăng nhập</Center>
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="username" class="form-control" id="username">
                    </div>

                    <div class="col-sm-2"></div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-1"></div>

                    <label for="inputPassword" class="col-sm-3 col-form-label">
                        <Center>Mật khẩu</Center>
                    </label>
                    <div class="col-sm-6">
                        <input type="password" name="password" class="form-control" id="password">
                    </div>

                    <div class="col-sm-2"></div>
                </div>
                <center><button type="submit" class="btn btn-primary">Đăng nhập</button></center>
            </form>
            <hr>
        </div>

        <div class="col-3"></div>
    </div>
</div>
{{!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.forms['formLogin']
        var alertLogin = $('.alert.alert-danger.login')
        form.addEventListener("submit", async (e) => {
            e.preventDefault()
            // get the values
            const username = form.username.value
            const password = form.password.value
            alertLogin.text('')
            // axios
            axios.post('/admin/login', {
                username: username,
                password: password
            })
                .then(async (res) => {
                    console.log(res.data)
                    const data = await res.data
                    if (data.user) {
                        location.assign('/admin')
                    }
                })
                .catch(async (err) => {
                    const data = await err.response.data
                    if (data.errors) {
                        alertLogin.removeClass("fade")
                        alertLogin.text(data.errors.email)
                    }
                })
        })
    })
</script> --}}