<div class="empty-cart-container">
    <div class="empty-cart">
        <h1>Bạn đã đặt hàng thành công</h1>
        <h1>Chúc bạn có một ngày vui vẻ</h1>
        <div class="row">
            <div class="form-group">
                <a href="/">
                    <button style="width: 40%" class="btn btn-outline-dark btn-lg border-radius-20" type="button">
                        Tiếp tục đặt hàng</button>
                </a>
            </div>
        </div>
    </div>
</div>