<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Hình thức thanh toán</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Cách thức mua hàng</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Khiếu nại</a>
                        <br>
                        <a href="tel:19001999" class="hot-line">1900.1999</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Thông tin khác</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Thực đơn</a></li>
                    <li><a href="#">Nhà hàng</a></li>
                    <li><a href="#">Tin khuyến mãi</a></li>
                    <li><a href="/news">Tin tức</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Liên hệ</h5>
                <address>
                    <strong>WEBSITE FAST FOOD</strong><br>
                    180 Cao Lỗ, Phường 4, Quận 8, Tp. Hồ Chí Minh<br>
                    <abbr title="Phone">Phone:</abbr> (0)333.444.555<br>
                    <a href="mailto:Fastfood@gmail.com">Fastfood@gmail.com</a>
                </address>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2024 WEBSITE FAST FOOD. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>

