<script src="/js/cart.js"></script>

<nav class="navbar navbar-menu navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#select1">Ưu đãi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#select2">Sản phẩm mới</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#select3">Combo Nhóm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#select4">Món ăn đơn</a>
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <a href="/cart">
                <button class="btn btn-danger border-radius"><i class="fas fa-cart-arrow-down"></i></button>
                <span class="cart-text" id="cart-text">GIỎ HÀNG</span>
            </a>
        </div>
    </div>
</nav>
<script>
    addAmountInnerID('cart-text');
</script>
