<div class="order-card">
    <div class="order-details row">
        <div class="col-6">
            <p><strong>Khách hàng:</strong> Nguyễn Văn A</p>
        </div>
        <div class="col-6">
            <p><strong>Số điện thoại:</strong> 0123456789</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p><strong>Time:</strong> <span class="order-time">{{this.status}}</span></p>
        </div>
        <div class="col-4">
            <p><strong>Tổng tiền:</strong> <span class="">{{this.moneyTotal}}</span></p>
        </div>
        <div class="col-3">
            <p><strong>Pay:</strong> <span class="">{{this.payment}}</span></p>
        </div>
    </div>
    <ul class="order-items">
        <li>3x Bánh mì</li>
        <li>1x Nước cam</li>
    </ul>
    <div class="order-actions">
        <button class="btn-complete" onclick="showDetails()">Xem chi tiết</button>
    </div>
</div>