<div class="container bg-white">
    <div class="row w-100 py-4">
        <center>
            <div id="show-img-upload" class="img_user">
                {{!-- <img class="border-radius" src="/upload/{{user.avatar}}"> --}}
                <img class="border-radius"
                        src="https://cdn2.fptshop.com.vn/unsafe/Uploads/images/tin-tuc/175421/Originals/avatar-la-gi-2.jpg">
            </div>
            <form method="POST" action="/user/avatar/{{user._id}}" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6 offset-3">
                            <label for="image">avatar</label>
                            <div class="input-group border-radius">
                                <input type="file" class="form-control border-radius-left" id="image" name="image"
                                    onchange="imagesFileAsURL()" />
                                <div class="input-group-append">
                                    <button value="" class="searchbutton btn btn-outline-danger border-radius-right"
                                        type="submit">Xong</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </center>
    </div>
</div>
<!-- Show small image before upload -->
<script type="text/javascript">
    function imagesFileAsURL() {
        var fileSelected = document.getElementById('image').files;
        if (fileSelected.length > 0) {
            var fileToLoad = fileSelected[0];
            var fileReader = new FileReader();
            fileReader.onload = function (fileLoaderEvent) {
                var srcData = fileLoaderEvent.target.result;
                var newImage = document.createElement('img');
                newImage.src = srcData;
                document.getElementById('show-img-upload').innerHTML = newImage.outerHTML;
            }
            fileReader.readAsDataURL(fileToLoad);
        }
    }
</script>