<div class="container page-h">
    <div class="row">
        <div class="col-6 offset-3">
            <center>
                <h1><i class="fas fa-user-tag"></i></h1>
            </center>
            <div class="alert alert-danger login fade" role="alert"></div>
            <form action="/user/input/{{user._id}}" method="POST">
                <div class="row">
                    <div class="input-group input-group-lg border-radius">
                        <input type="text" name="fullName" id="fullName" class="form-control border-radius-left" placeholder="Tên của bạn là gì...">
                        <div class="input-group-append">
                            <button value="" class="searchbutton btn btn-outline-danger border-radius-right" type="submit">Bắt đầu</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>