<div class="cart-total">
    <div class="row form-group">
        <div style="font-size: 22px; font-weight: bold;"> <center>TỔNG TIỀN HÀNG</center> </div>
    </div>
    <div class="display-flex next-bar border-radius-20">
        <div class="" style=" width: 50%;">
            <div class="bd-highlight price_item_new price-big float-right">
                <div class="float-right pr-3">
                    <span class="">
                        <div class="float-right" id="total-money-show" style="font-size: 22px; font-weight: bold;">
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="" style=" width: 50%;">
            <button style=" width: 100%;" id="btn-submit-cart" onclick="submitCart()" type="button" class="btn btn-danger btn-lg border-radius-20">
                <b>MUA HÀNG</b>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group">
            <a href="/">
                <button style=" width: 100%;" class="btn btn-outline-dark btn-lg border-radius-20">
                    QUAY LẠI THỰC ĐƠN</button>
            </a>
        </div>
    </div>
</div>