<nav class="navbar navbar-light bgcolor" style="height: 100px;">
    <div class="logo-mini float-left" style="height: 100%;"><a class="navbar-brand" href="/admin/logout"><img src="/img/logo.png" alt="logo-fastfood"></a></div>
    <div class="float-right">
        <a href="/">
            <button class="btn btn-danger border-radius">Đăng xuất <i class="fas fa-sign-in-alt"></i></button>
        </a>
    </div>
</nav>