<section class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a class="menu-function-admin" href="/admin/foodType/index">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-utensils"></div>
          <div class="col-10 list-menufunction">Loại sản phẩm</div>
        </div>
      </a>
    </li>
    <li>
      <a class="menu-function-admin" href="/admin/food/index">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-hamburger"></div>
          <div class="col-10 list-menufunction">Sản phẩm</div>
        </div>
      </a>
    </li>
    <li>
      <a class="menu-function-admin" href="/admin/order/index">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-receipt"></div>
          <div class="col-10 list-menufunction">Đơn hàng</div>
        </div>
      </a>
    </li>
    <li>
      <a class="menu-function-admin" href="/admin/promotion/index">
        <div class="row">
          <div class="col-2 icon-menufunction fab fa-hotjar"></div>
          <div class="col-10 list-menufunction">Khuyến mãi</div>
        </div>
      </a>
    </li>
    <li>
      <a class="menu-function-admin" href="/admin/news/index">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-newspaper"></div>
          <div class="col-10 list-menufunction">Tin tức</div>
        </div>
      </a>
    </li>
    <li>
      <a class="menu-function-admin" href="/admin/advertise/index">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-ad"></div>
          <div class="col-10 list-menufunction">Quảng cáo</div>
        </div>
      </a>
    </li>
    <hr />
    <li>
      <a class="menu-function-admin" href="/admin/staff/index">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-user-tie"></div>
          <div class="col-10 list-menufunction">Nhân viên</div>
        </div>
      </a>
    </li>
    <hr />
    <li>
      <a class="menu-function-admin" href="/admin/customer/index">

        <div class="row">
          <div class="col-2 icon-menufunction fas fa-users"></div>
          <div class="col-10 list-menufunction">Khách hàng</div>
        </div>
      </a>
    </li>
    <hr />
    <li>
      <a class="menu-function-admin" href="/admin/orderHelper" onclick="showSlide('new-orders')">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-hourglass-start"></div>
          <div class="col-10 list-menufunction">Đơn hàng mới</div>
        </div>
      </a>
      <a class="menu-function-admin" href="/admin/orderHelper" onclick="showSlide('in-progress-orders')">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-hourglass-half"></div>
          <div class="col-10 list-menufunction">Đang thực hiện</div>
        </div>
      </a>
      <a class="menu-function-admin" href="/admin/orderHelper" onclick="showSlide('completed-orders')">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-hourglass-end"></div>
          <div class="col-10 list-menufunction">Đã hoàn thành</div>
        </div>
      </a>
      <a class="menu-function-admin" href="/admin/orderHelper" onclick="showSlide('cancelled-orders')">
        <div class="row">
          <div class="col-2 icon-menufunction fas fa-times"></div>
          <div class="col-10 list-menufunction">Đã huỷ</div>
        </div>
      </a>
    </li>
  </ul>
</section>