<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    {{>headerAdmin}}
    <h1>Admin Layout</h1>
    {{{body}}}
    {{>footerAdmin}}
</body>
</html>