<div class="sidebar">
    <div>
        <h2>Quản lý đơn hàng</h2>
        <div class="menu">
            <a href="#" onclick="showSlide('new-orders')"><i class="fas fa-hourglass-start"></i> Đơn hàng mới</a>
            <a href="#" onclick="showSlide('in-progress-orders')"><i class="fas fa-hourglass-half"></i> Đang thực
                hiện</a>
            <a href="#" onclick="showSlide('completed-orders')"><i class="fas fa-hourglass-end"></i> Đã hoàn thành</a>
            <a href="#" onclick="showSlide('cancelled-orders')"><i class="fas fa-times"></i> Đã huỷ</a>
        </div>
    </div>
    <div class="user-info">
        <img src="https://via.placeholder.com/80" alt="Avatar">
        <p>Nhân viên A</p>
        <p>Ngày: <span id="currentDate"></span></p>
        <p>Giờ vào ca: <span id="shiftTime">10:09</span></p>
        <a href="#" class="profile-btn"><i class="fas fa-user"></i> Thông tin cá nhân</a>
        <a href="/staff/logout">
            <button class="btn btn-danger border-radius">Đăng xuất <i class="fas fa-sign-in-alt"></i></button>
        </a>
    </div>
</div>