<div class="sidebar">
    <div>
        <h2>Quản lý đơn hàng</h2>
        <div class="menu">
            <a href="#" onclick="showSlide('new-orders')"><i class="fas fa-hourglass-start"></i> Đơn hàng mới</a>
            <a href="#" onclick="showSlide('in-progress-orders')"><i class="fas fa-hourglass-half"></i> Đang thực
                hiện</a>
            <a href="#" onclick="showSlide('completed-orders')"><i class="fas fa-hourglass-end"></i> Đã hoàn thành</a>
            <a href="#" onclick="showSlide('cancelled-orders')"><i class="fas fa-times"></i> Đã huỷ</a>
        </div>
    </div>
    <div class="user-info">
        {{#staff}}
        <img src="/upload/{{avatar}}" alt="Avatar">
        <p>{{name}}</p>
        <p>Ngày: <span id="currentDate"></span></p>
        <a href="/staff/logout" class="profile-btn"><i class="fas fa-user"></i> Đăng xuất</a>
        {{/staff}}
    </div>
</div>